.card .card-image{
	height: 20em;
	overflow: hidden;
}
.card .card-image .card-title{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
}
.showVote img{
	display: inline-block;
}
.showVote span{
	display: inline-block;
	margin-left: 3px;
}
